.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    background-color: #4156a7;
    padding: 4em 4em;
}

.footer-container {
    color: white;
}

.footer-container h3 {
    font-family: 'Suwannaphum-Light';
}

.footer-bottom {
    display: flex;
    background-color: white;
    height: auto;
    justify-content: center;
    padding: 2rem;
}

.quick-links-container p {
    color: white;
}

.quick-links-container ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.quick-links-container ul a li {
    color: white;
    line-height: 2em;
}

.social-media-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 0.5em;
}

.social-media-links-container a {
    color: white;
}

.map-container {
    text-align: center;
}

.map-container p {
    color: white;
}

.map {
    width: 48em;
    height: 24em;
}

.contact-info-container ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.contact-info-container ul li {
    color: white;
    line-height: 2em;
}