.hero {
    position: relative;
    height: 60vh;
    background: url("../../assets/images/huale-steel-hero-background-homepage.webp");
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    padding-left: 11rem;
    padding-bottom: 8rem;
    color: #fff;
}

/* Overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(65, 86, 167, 0.5);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 0 1rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 4rem;
}

.index-body {
    display: flex;
    align-items: flex-start;
}

.about-us {
    display: flex;
    justify-content: space-between;
}

.about-us-image {
    width: 50%;
    margin-top: 6rem;
}

.about-us-subtitle {
    margin-bottom: 4rem;
    max-width: 32rem;
}

.quick-stats {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.quick-stat-title {
    color: var(--color-primary);
}

.quick-stat-icon {
    color: var(--color-primary);
    font-size: 4rem;
    margin-bottom: 3rem;
}

.industries-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    text-align: center;
}

.industry-icon {
    font-size: 4rem;
    color: #fff;
    background-color: var(--color-primary);
    padding-top: 2rem;
    width: 128px;
    height: 128px;
    margin-bottom: 2rem;
}

.industries {
    width: 100%;
}

.industry-subtitle {
    width: 16rem;
}

.product-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}

.product-image {
    width: 23%;
}

.product-info {
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}

.production-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 3rem;
}

.production-image {
    width: 23%;
}

.production-text {
    width: 64rem;
}

.news-container {
    display: flex;
    margin-bottom: 3rem;
}

.news-thumbnail {
    width: 25%;
    margin-bottom: 1rem;
}

.news-title {
    width: 20rem;
}

.news-link {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .hero {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0;
        padding-bottom: 0;
    }

    .hero-title {
        font-size: 2rem;
    }
    .hero-subtitle {
        font-size:  1rem;
    }

    .about-us {
        flex-direction: column;
    }

    .about-us-image {
        width: 100%;
    }

    .quick-stats {
        flex-direction: column;
        gap: 6rem;
    }

    .product-images {
        flex-direction: column;
    }

    .product-image {
        width: 100%;
    }
    
    .production-container  {
        flex-direction: column;
    }

    .production-image {
        width: 100%;
    }

    .industries-container {
        flex-direction: column;
        align-items: center;
    }

    .news-container {
        flex-direction: column;
    }

    .news-thumbnail {
        width: 100%;
    }
}